.quiz {
  &__container {
    max-width: 600px;
    width: 100%;
    margin-inline: auto;
  }

  &__box {
    background-color: var(--second-bg);
    padding: 5rem 3rem 8rem;
    border-radius: 1rem;
    margin-block: 2rem;

    &--answers {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      li {
        background-color: var(--body-bg);
        padding: 1.25rem 2rem;
        border-radius: 0.5rem;
        cursor: pointer;
        border: 1px solid transparent;

        &:hover {
          border-color: var(--accent);
        }
      }
    }
  }

  &__actions {
    @include flex-between();
  }
}
